<div class="py-5" id="<%= dom_id menu %>">
  <h1>
    <%= menu.name %>
  </h1>
  <h4 class="text-muted">
    By: <%= menu.price %>
  </h4>
    
  

  <div class="py-5">
    <p>
      <%= menu.description %>
    </p>
  </div>
</div>